<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <% if (books.length === 0) { %>
        <p>No books</p>
    <% } else { %>
        <ul>
            <% books.forEach(function(book) { %>
                <li>
                    <form method="post" action="/del/<%= book._id %>" style="display: inline;">
                        <input type="submit" value="X">
                    </form>
                    <form method="post" action="/edit/<%= book._id %>" style="display: inline;">
                        <input type="submit" value="Edit">
                    </form>
                    <%= book.title %> - <%= book.author %>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <form method="post" action="/add">
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" value="Title"> <br>
        <label for="author">Author: </label>
        <input id="author" type="text" name="author" value="Author"> <br>
        <input type="submit" value="OK">
    </form>
</body>
</html>
